footer.footer
    .container
        .footer__content
            .footer__top
                .footer__col
                    a.logo(href="#main")
                        img.logo__img.logo__img--big(src="assets/img/logo.svg" alt="")
                .footer__col
                    .footer__contacts
                        .footer__contact
                            .text.footer__address 603037, г. Нижний Новгород, #[br] ул. Торфяная, 30
                        .footer__contact
                            a.footer__phone(href="88005556201") 8 800 555 62 01
                            .text.text--gray.footer__text Бесплатно по России
                        .footer__contact
                            .text.footer__text Будние дни с 08:00 до 17:00
                            .text.text--gray.footer__text Режим работы
                        .footer__contact
                            a.footer__email(href="mailto:amedisin@gmail.com") amedisin@gmail.com
                            .text.text--gray.footer__text Отдел продаж
            .footer__bottom
                .footer__col.footer__col--copyright
                    .footer__copyright ООО «Амедис Инжиниринг» © Impulse 2012 – 2022 г. Все права защищены
                .footer__col
                    ul.footer__menu
                        li.footer__menu-item
                            a.footer__menu-link(href="#") Политика конфиденциальности
                        li.footer__menu-item
                            a.footer__menu-link(href="#") Обработка персональных данных